/*清除浮动*/
*{
    margin: 0;
    padding:0;
    list-style:none;
    border: 0;
    text-decoration: none;
    outline: none;
}
img{
    max-width: 100%;
    width:100%;
}
div:after{
    content: '';
    display:block;
    zoom:1;
    clear: both;
}
html,body{
    padding:0;
    width: 100%;
    height: 100%;
}
select,option{
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background: transparent;
    color: #fff;
    text-align: center;
    text-align-last: center;
}
option{
    background: #082240;
    color: #fff;
}
select::-ms-expand ,option::-ms-expand {
    display: none;
}
.l{
    float: left;
}
.r{
    float: right;
}
.blue{
    color: #20dbfd;
}
/*背景图片*/
.main{
    position: relative;
    padding-bottom: 0.3rem;
}
.bigbg{
    color: #fff;
    min-width: 100%;
    min-height: 100%;
    background: url(../images/bigbg.png) repeat-y;
    background-size: 100% 100%;
}
.main-h{
    position: absolute;
    left: 50%;
    top: 0.12rem;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.main-h-title{
    font-size: 0.36rem;
    font-weight: 800;
    color: #20dcfc;
}
.main-h-time{
    font-size: 0.16rem;
    padding-top: 0.1rem;
    color: #588bdb;
}

.main-h-time img{
    width: 0.16rem;
    height: 0.16rem;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.04rem;
}

.box-h{
    padding:0.1rem 0 0.1rem  0.25rem;
    background: url(../images/tbg.png) no-repeat;
    background-size: 80% 100%;
    font-size: 0.2rem;
}
.main-l-box{
    margin-left: 0.27rem;
    margin-top: 0.24rem;
    width: 4.63rem;
    margin-right: 0.2rem;
}
.mouth-box,.day-box{
    height: 3.1rem;
}
.main-r-box{
    margin-top: 1.2rem;
    width: 8.9rem;
    border-top: 1px solid #271d64;
}
.box-item {
    margin-top: 0.24rem;
    -webkit-box-shadow: 0 0 10px #205887;
    box-shadow: 0 0 10px #205887;
    border: 2px solid #205887;
    border-radius: 0.08rem;
    padding: 0.22rem 0.1rem;
}
.box-item>div{
    width: 100%;
    font-size: 0.2rem;
}
.box-item>div>div{
    text-align: center;
    width: 32%;
    margin-left: 1%;
}
.box-item>div>div p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.box-item>div>div:first-child{
    margin-left: 0;
}
.item-h{
    font-size:0.2rem; 
    color : #20dcfc;
}
.item-v{
    font-size: 0.36rem;
    padding: 0.1rem 0;
    font-weight: bold;   
}
.item-b{
    border-top: 1px solid #271d64;
    padding-top: 0.1rem;
    font-size: 0.18rem;
    color: #a8a6b5;
}
.item-b span{
    font-size: 0.26rem;
}
.quantity-h{
    font-size: 0.18rem;
    color: #a8a4b2;
    font-weight: bold;
}
.quantity-list li{
    padding: 0.1rem 0;
    clear: both;
}
.quantity-list li span{
    display: block;
    float: left;
    font-size: 0.16rem;
    text-align: center;
    width: 20%;
}
.quantity-list li span:last-child{
    width: 56%;
    text-align: right;
}
.quantity-list li span small{
    background: red;
    border-radius: 50%;
    display: inline-block;
    width: 0.24rem;
    height: 0.24rem;
    line-height: 0.24rem;
}
.main-r-container{
    width: 4.6rem;
    margin-top: 0.27rem;
    margin-right: 0.2rem;
}
.chart-box{
    height: 5rem;
}