/*清除浮动*/
*{
    margin: 0;
    padding:0;
    list-style:none;
    border: 0;
    text-decoration: none;
    outline: none;
}
img{
    max-width: 100%;
    width:100%;
}
div:after{
    content: '';
    display:block;
    zoom:1;
    clear: both;
}
html,body{
    padding:0;
    width: 100%;
    height: 100%;
}
select,option{
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background: transparent;
    color: #fff;
    text-align: center;
    text-align-last: center;
}
option{
    background: #082240;
    color: #fff;
}
select::-ms-expand ,option::-ms-expand {
    display: none;
}
.l{
    float: left;
}
.r{
    float: right;
}
.blue{
    color: #20dbfd;
}
/*背景图片*/
.bigbg{
    color: #fff;
    width: 100%;
    background: url(../images/bigbg.png);
    background-size: 100%;
}